@import "reset";
@import "color";

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 100px;
    color: #333333;
    background-color: #aaaaaa;
    /*overflow-y: hidden;*/
}

header {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    div {
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #555555;
        background-color: #eeeeee;
        padding: 5px;
        box-shadow: 2px 2px 5px #555555;
        -webkit-box-shadow: 2px 2px 5px #555555;
    }
}

#canvas {
    background-color: #ffffff;
    background-image: url('/images/grid.png');
    cursor: crosshair;
    /*border: 1px solid black;*/
    font-family:sans-serif;
    box-shadow: 2px 2px 10px #555555;
    -webkit-box-shadow: 2px 2px 10px #555555;
}

#container {
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
#content {
    position: relative;
    top: 0px;
}

@menu_height: 32px;
@menu_width: 32px;
@n_menu_items: 4;
@menu_padding: 5px;

@menu_bkg_grad1: #dddddd;
@menu_bkg_grad2: darken(#dddddd,10%);
@shadow_color: #210634;
@amt: 10%;
@col1: lighten(@menu_bkg_grad1,@amt);
@col2: lighten(@menu_bkg_grad2,@amt);

div#arrow {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0px;
    padding-left: @menu_padding;
    margin-right: @menu_padding;
    cursor: pointer;
    width: @menu_width;
    height: @menu_height;
    background: url(/images/arrows.png) no-repeat;
    background-position: -32px 0px;
    
    span {
        display: none;
    }
}

div#menu {
    height: @menu_height;
    overflow: hidden;
    background-color: @menu_bkg_grad1;
    background:-webkit-gradient(linear, left top, left bottom, from(@menu_bkg_grad1), to(@menu_bkg_grad2));
    background:-moz-linear-gradient(top, @menu_bkg_grad1, @menu_bkg_grad2);
    box-shadow:0 0 15px @shadow_color;

    display: block;
    width: (@n_menu_items+1) * @menu_width;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    bottom: 10px;
    ul {
        list-style: none;
        display: table;
        width: @n_menu_items * @menu_width;
        height: @menu_height;
        margin-left: @menu_width;
        .selected {
            background-color: @col1;
        }
        li {
            padding-left: @menu_padding;
            margin-right: @menu_padding;
            cursor: pointer;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            width: @menu_width;
            color: #dddddd;
            background: url(/images/icons.png) no-repeat;
            &:hover {
                .selected;
            }
            span {
                display: none;
            }
        }
        li#clear {
            background-position: -32px 0px;
        }
        li#undo {
            background-position: -64px 0px;
        }
        li#color {
            background-position: -96px 0px;
        }
    }
}

section {
    text-align: center;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    font: bold 24px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    outline: 0;
    overflow: visible;
    padding: 10px 20px;
    text-shadow: #fff 0 1px 1px;
    width: auto;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    outline: 0;
    padding: 2px 3px;
    font: bold 24px Arial, 'Liberation Sans', FreeSans, sans-serif;
    height: 50px;
    text-align: center;
}



